div#board {
  background:#CCC; <!-- set background to gray -->
  border:#999 1px solid;
  width:320px;
  height:320px;
  padding:20px;
  margin:20px auto;
}

/* the tiles */
div#board > div {
  background: ;
  border:#000 1px solid;
  width:45px;
  height:45px;
  float:left;
  margin:1px;
  padding:15px;
  font-size:10px;
  cursor:pointer;
  text-align:center;
}

div#debriefing{
  display:none;
}

